<% if (!is_current("about", false)){ %>
  <div class="count-wrapper">
    <span class="post-count">本文共 <%= wordcount(post.content) %> 字</span>
    <span class="post-count">预计花费 <%= min2read(post.content) %> 分钟</span>
  </div>
<% } %>